@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color{
    @apply bg-gradient-to-r from-orange-400 to-pink-600 inline-block;
}

.gradient-text {
    @apply bg-gradient-to-r from-yellow-400 to-pink-600 bg-clip-text text-transparent;
  }

/* Apply custom color classes in light mode */
.text-primary {
    @apply text-white;
  }
  
  /* Apply custom color classes in dark mode */
  .dark .text-primary {
    @apply text-black;
  }
